.activityDetailContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  max-width: 1150px;
}

.adArrow {
  height: 23px;
  margin-bottom: 24px;
}

.adArrow:hover {
  cursor: pointer;
}
