.adDescriptionContainer {
  display: flex;
  gap: 33px;
  margin-bottom: 95px;
}

.adCarousel {
  width: 563px;
  height: 371px;
  border-radius: 4px;
  object-fit: cover;
}

.adDescription {
  width: 466px;
}

.adDescriptionText {
  margin-bottom: 25px;
}

.adParticipants {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 25px;
}

.adPeopleSVG {
  width: 24px;
  height: 24px;
}

.adLocationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  font-size: 16px;
  line-height: 20px;
  gap: 8px;
  margin-bottom: 80px;
}

.adLocationSVG {
  height: 24px;
  width: 24px;
}

.adPoints {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
