@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}
h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22.5px;
  color: #464646;
}

.allActivitiesView {
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 44px;
  column-gap: 21px;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.activityCardLarge {
  width: 369px;
  height: 404px;
  flex-basis: 369px;
}

.acImg {
  width: 369px;
  height: 240px;
  border-radius: 4px;
  margin-bottom: 14px;
}
.acHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.acPeopleSVG {
  height: 16px;
}

.acLocationContainer {
  display: flex;
  flex-direction: row;
}

.acLocationSVG {
  fill: #ff6c5e;
  height: 12px;
}

.acLocation {
  font-weight: 400;
  font-size: 14px;
  line-height: 17.5px;
  color: #000000;
  margin-bottom: 14px;
  display: flex;
  gap: 9px;
  align-items: center;
}

.acDescription {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 54px;
}

.acPoints {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #464646;
}
